extends layout

block content
	h1 #{title}
	p	Fill in the form below to sign up!

	form(action='/register' method='POST')
		p
			input(type='text' name='username' placeholder='Username')
		p
			input(type='pass' name='password' placeholder='Password')
		p
			input(type='submit' value='Sign up!!')